:root {
  --glow-color: hsl(186 100% 69%);
}

.glowing-btn {
  //   outline: none;
  //   border-color: #9ecaed;
  //   box-shadow: 0 0 10px #9ecaed;
  //   fill-opacity: 0;
  stroke: #fff;
  stroke-width: 2;
  filter: drop-shadow(0 0 2px #fff);
}
